<script type="text/javascript">

var oldOnload = window.onload;

window.onload = function() {

    if (typeof oldOnload == 'function') {
        oldOnload();
    }

	console.log('init');

	$( "#wojewodztwo" ).change(function() {
       	$( "#miasto-text" ).val('');
       	$( "#miasto-id" ).val('');
       	$( "#ulica-text" ).val('');
       	$( "#ulica-id" ).val('');
	});
	/*
	 * autocomplete dla pola miasto bazując na wybranym wojewodztwie
	 */
    $( "#miasto-text" ).autocomplete({
		source: function( request, response ) {
      		$.ajax({
        		url: "{{ rootPath }}/api/miasto?",
          		dataType: "json",
          		data: {
          			q: request.term,
            		id: function() {
                		if($( "#wojewodztwo option:selected" ).val() == undefined)
                    		return 0;
                		else
                    		return $( "#wojewodztwo option:selected" ).val();
                    },
          		},
          		//cache: false,
          		type: "GET",
          		success: function( data ) {
                	response(data);
          		},
    		})
		},
      	minLength: 2,
        select: function (event, ui) {
            $('#miasto-text').val(ui.item.label); 
            $('#miasto-id').val(ui.item.value); 
            return false; // =         	event.preventDefault();
        },
       	change: function( event, ui ) {
           	$( "#miasto-id" ).val(ui.item? ui.item.value : 0);
           	$( "#ulica-text" ).val('');
           	$( "#ulica-id" ).val('');
           	return false;
       	},      	
	});

	/*
	 * autocomplete dla pola ulica bazując na wybranym mieście
	 */
    $( "#ulica-text" ).autocomplete({
		source: function( request, response ) {
      		$.ajax({
        		url: "{{ rootPath }}/api/ulica?",
          		dataType: "json",
          		data: {
          			q: request.term,
            		id: function() {
                		if($( "#miasto-id" ).val() == undefined)
                    		return 0;
                		else
                    		return $( "#miasto-id" ).val();
                    },
          		},
          		//cache: false,
          		type: "GET",
          		success: function( data ) {
                	response(data);
          		},
    		})
		},
      	minLength: 2,
        select: function (event, ui) {
            $('#ulica-text').val(ui.item.label); 
            $('#ulica-id').val(ui.item.value); 
            return false;
        },
       	change: function( event, ui ) {
           	$( "#ulica-id" ).val(ui.item? ui.item.value : 0);
           	return false;
       	},      	
	});


    $('#form-validator').validator();

    //$('#form-validator').validator('validate');
	
};

</script>

	<h3>Dane osobowe</h3>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="login">Login</label>
		    	<input type="text" class="form-control" name="login" id="login" placeholder="Login" 
		    	value="{{ login }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>
	</div>	
	<div class="row">	
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="haslo">Haslo</label>
		    	<input type="text" class="form-control" name="haslo" id="haslo" placeholder="Hasło" 
		    	value="{{ haslo }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
			</div>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="pracownik">Pracownik</label>
		    	<select class="form-control" id="pracownik" name="pracownik">
		    		<option value="0">Wybierz</option>
					{{ pracownik }}
				</select>
			</div>
		</div>
	</div>
