<script type="text/javascript">



var oldOnload = window.onload;

window.onload = function() {

    if (typeof oldOnload == 'function') {
        oldOnload();
    }

	console.log('init');


    $('#form-validator').validator();

    //$('#form-validator').validator('validate');

	$( "#pacjent-text" ).autocomplete({
		source: function( request, response ) {
			$.ajax({
				url: "{{ rootPath }}/api/pacjent?",
				dataType: "json",
				data: {
					q: request.term,
				},
				//cache: false,
				type: "GET",
				success: function( data ) {
					response(data);
				},
			})
		},
		minLength: 2,
		select: function (event, ui) {
			$('#pacjent-text').val(ui.item.label); 
			$('#pacjent-id').val(ui.item.value); 

			updateTerminy();
			
			return false; 
		},
		change: function( event, ui ) {
			$( "#pacjent-id" ).val(ui.item? ui.item.value : 0);
			return false;
		},      	
	});

   function updateTerminy() {
  		$.ajax({
    		url: "{{ rootPath }}/api/terminylist?",
      		dataType: "json",
      		data: {
      			pacjent: function() {
        			return $('#pacjent-id').val();
                },
      		},
      		//cache: false,
      		type: "GET",
      		success: function( data ) {
				$("#termin").empty();
          		
				var selectTermin = document.getElementById("termin");
          		// --------------------------
          		for(var i=0; i<data.length; i++)
          		{
          			var option = document.createElement("option");
          			option.text = data[i].label;
          			option.value = data[i].value;
          			selectTermin.add(option);
          		}
          		   /*$("#ddlLanguage").empty().append($("<option></option>").val("[-]").html("Please select"));
				    $.each(msg.d, function() {
				        $("#ddlLanguage").append($("<option></option>").val(this['Value']).html(this['Text']));
				    });
				
				    $('#s2_combo').val('avalue');*/
          		
          		//
            	//response(data);
      		},
		});
    }
	
};

</script>

	<h3>Dane rozpoznania</h3>	
		
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="pacjent-text">Pacjent</label>
		    	<input type="text" class="form-control" name="pacjent-text" id="pacjent-text" placeholder="Pacjent" 
		    	value="{{ pacjent-text }}" maxlength="128" required>
		    	<span class="help-block with-errors"></span>
				<input id="pacjent-id" name="pacjent-id" type="hidden" value="{{ pacjent-id }}" class="form-control">
		  	</div>
		</div>
	</div>
	

 
 	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="choroba">Choroba</label>
		    	<select class="form-control" id="choroba" name="choroba">
		    	<option value="0">Brak</option>
					{{ choroba }}
				</select>
			</div>
		</div>
	</div>
	
 	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="termin">Termin</label>
		    	<select class="form-control" id="termin" name="termin" size="6"> <!-- size="6"  -->
					{{ termin }}
				</select>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="telefon">Opis</label>
		    	<textarea class="form-control" name="opis" id="opis" placeholder="Opis rozpoznania" rows="3">{{ opis }}</textarea>
			</div>
		</div>
	</div>
	


	