/* Form
-------------------------------------------------- */

.table tr {
	cursor: pointer;
}

.table {
	border-top: 1px solid #DDD; 
	border-bottom: 1px solid #DDD;
}

.table-selected-item {
	background-color: #D9EDF7 !important;
}

.table-selected-column {
	background-color: #CDBFE3 !important;
	border-top: 1px solid #9665e3 !important;
	border-bottom: 2px solid #9665e3 !important;
	
}

/* form buttons
-------------------------------------------------- */
.table-button-shade {
	color: #C0C0C0;
	
}
