/* Custom page CSS
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  margin-top: 50px;
}

body > .container {
  /*padding: 60px 15px 0;*/
}
.container .text-muted {
  margin: 20px 0;
}



code {
  font-size: 80%;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
  border-top: 1px solid #b5b5b5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* navbar w dokumentacji projektu oraz stronie użytkownika
-------------------------------------------------- */
.nav-sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 190px;
}

.nav-sidebar .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.nav-sidebar .nav>li>a:focus, .nav-sidebar .nav>li>a:hover{
	padding-left:19px;
	color:#2B669A;
	text-decoration:none;
	background-color:transparent;
	border-left:1px solid #2B669A
}

.nav-sidebar .nav>.active:focus>a, .nav-sidebar .nav>.active:hover>a, .nav-sidebar .nav>.active>a{
	padding-left:18px;
	font-weight:700;
	color:#2B669A;
	background-color:transparent;
	border-left:2px solid #2B669A
}

