<script type="text/javascript">

var oldOnload = window.onload;

window.onload = function() {

    if (typeof oldOnload == 'function') {
        oldOnload();
    }

	console.log('init');


    $('#form-validator').validator();

    //$('#form-validator').validator('validate');
	
};

</script>

	<h3>Dane choroby</h3>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="nazwa">Nazwa</label>
		    	<input type="text" class="form-control" name="nazwa" id="nazwa" placeholder="Nazwa" 
		    	value="{{ nazwa }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>
	</div>
	
	<div class="col-xs-3">
			<div class="form-group">
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="przewlekla" value="true" {{ przewlekla }}>
				    Jest przewlekła
				  </label>
				</div>
			</div>
		</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="telefon">Opis</label>
		    	<textarea class="form-control" name="opis" id="opis" placeholder="Opis choroby" rows="3">{{ opis }}</textarea>
			</div>
		</div>
		
	</div>
	