<div class="row">
	<div class="bs-callout bs-callout-warning">
	  	<h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Uwaga</h4>
	  	<p>Próba usunięcia choroby zakończy się niepowodzeniem.</p>
	</div>
</div>