<script type="text/javascript">

var oldOnload = window.onload;

window.onload = function() {

    if (typeof oldOnload == 'function') {
        oldOnload();
    }

	console.log('init');


    $('#form-validator').validator();

    //$('#form-validator').validator('validate');
	
};

</script>

	<h3>Dane osobowe</h3>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="numer">Numer</label>
		    	<input type="text" class="form-control" name="numer" id="numer" placeholder="Numer" 
		    	value="{{ numer }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="nazwa">Nazwa</label>
		    	<input type="text" class="form-control" name="nazwa" id="nazwa" placeholder="Numer" 
		    	value="{{ nazwa }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>
	</div>