<div class="container">
	<div class="page-header">
		<h2>{{ formTitle }}</h2>
	</div>
	<form action="{{ rootPath }}{{ pageLink }}" id="form-validator" method="post">
	<input name="mode" value="edit" type="hidden">
	<input name="id" value="{{ id }}" type="hidden">