<div class="container">
	<div class="row">
		<div class="page-header">
			<h2>Potwierdz usunięcie</h2>
		</div>
	</div>
	<div class="row">
		<div class="alert alert-warning " role="alert">
		  	{{ message }}
		</div>
	</div>
	<div class="row">
		<form action="{{ rootPath }}{{ pageLink }}" id="form-validator" method="post">
			<div class="form-group">
			<input name="mode" value="remove" type="hidden">
			<input name="id" value="{{ id }}" type="hidden">
			<button type="submit" class="btn btn-danger pull-right" id="usun">Usuń</button>
			</div>
		</form>
	</div>
	
	{{ warning }}
	
</div>