<script type="text/javascript">

window.onload = function() {
	//$('#container').find('input, textarea, button, select').attr('disabled','disabled');
	console.log("dispabled");
	$("input").prop('disabled', true);
	$("select").prop('disabled', true);
	$("textarea").prop('disabled', true);
};
</script>

<div class="container">
	<div class="page-header">
		<h2>{{ formTitle }}</h2>
	</div>
	<input name="id" value="{{ id }}" type="hidden">