<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Projekt aplikacji przychodni, SWSIM 2015">
<meta name="author" content="Michał Żak, Mariusz Witkowicz">
<link rel="icon" href="{{ rootpath }}img/favicon.ico">

<title>{{ preTitle }}{{ appName }}</title>

<!-- Bootstrap core CSS -->
<link href="{{ rootpath }}css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap theme -->
<link href="{{ rootpath }}css/bootstrap-theme.min.css" rel="stylesheet">
<link href="{{ rootpath }}css/bootstrap-select.min.css" rel="stylesheet">
<link href="{{ rootpath }}css/bootstrap-mike.css" rel="stylesheet">
<link href="{{ rootpath }}css/jquery-ui.min.css" rel="stylesheet">

<!-- Custom styles -->
<link href="{{ rootpath }}css/page.css" rel="stylesheet">


<script>
	/*
	 * Skrypt generuje losowe linki dla stylów
	 * dzięki czemu przy ich zmianie zawsze 
	 * są aktualizowane przez przeglądarkę
	 *
	 * TYLKO NA CZAS TESTOWANIA SZABLONU
	 */
	var rand = Math.floor(Math.random() * 100);
	
	var cssfiles = [
			"{{ rootpath }}css/page.css",
			"{{ rootpath }}css/form.css",
	    	];
		
	for(var i=0; i<cssfiles.length; i++) {
		link=document.createElement('link');
		link.href= cssfiles[i] + '?ver=' + rand;
		link.rel='stylesheet';

		document.getElementsByTagName('head')[0].appendChild(link);
		
		//$('head').append( '<link rel="stylesheet" href="' + cssfiles[i] + '?ver=' + rand + '" rel="stylesheet">' );	
	}
</script>
{{ header }}
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Przełącz nawigację</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ rootPath }}main">{{ appName }}</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
			{{ menuLinks }}
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container" id="back-to-top" style="padding-bottom:10px;">
	<!-- {{ navBar }} -->
		{{ pageContent }}
	</div>
	<!-- /.container -->

   <footer class="footer">
      <div class="container">
      	
        <p class="pull-right">  <a href="{{ rootPath }}about"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> O Projekcie</a> &middot; <a href="#back-to-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>W górę</a></p>
        <p class="text-muted" style="margin:0;">Projekt systemu informatycznego 2015<br /> Programowanie w Java EE<br />
				Michał Żak &amp; Mariusz Witkowicz</p>
      
   		{{ footer }}
      </div>
    </footer>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{{ rootpath }}js/jquery-2.1.3.min.js"></script>
	<script src="{{ rootpath }}js/jquery-ui.min.js"></script>
	<script src="{{ rootpath }}js/bootstrap.min.js"></script>
	<script src="{{ rootpath }}js/bootstrap-select.min.js"></script>
	<script src="{{ rootpath }}js/validator.min.js"></script>


	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="{{ rootpath }}js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>