<script type="text/javascript">

var oldOnload = window.onload;

window.onload = function() {

    if (typeof oldOnload == 'function') {
        oldOnload();
    }

	console.log('init');

	$( "#wojewodztwo" ).change(function() {
       	$( "#miasto-text" ).val('');
       	$( "#miasto-id" ).val('');
       	$( "#ulica-text" ).val('');
       	$( "#ulica-id" ).val('');
	});
	/*
	 * autocomplete dla pola miasto bazując na wybranym wojewodztwie
	 */
    $( "#miasto-text" ).autocomplete({
		source: function( request, response ) {
      		$.ajax({
        		url: "{{ rootPath }}/api/miasto?",
          		dataType: "json",
          		data: {
          			q: request.term,
            		id: function() {
                		if($( "#wojewodztwo option:selected" ).val() == undefined)
                    		return 0;
                		else
                    		return $( "#wojewodztwo option:selected" ).val();
                    },
          		},
          		//cache: false,
          		type: "GET",
          		success: function( data ) {
                	response(data);
          		},
    		})
		},
      	minLength: 2,
        select: function (event, ui) {
            $('#miasto-text').val(ui.item.label); 
            $('#miasto-id').val(ui.item.value); 
            return false; // =         	event.preventDefault();
        },
       	change: function( event, ui ) {
           	$( "#miasto-id" ).val(ui.item? ui.item.value : 0);
           	$( "#ulica-text" ).val('');
           	$( "#ulica-id" ).val('');
           	return false;
       	},      	
	});

	/*
	 * autocomplete dla pola ulica bazując na wybranym mieście
	 */
    $( "#ulica-text" ).autocomplete({
		source: function( request, response ) {
      		$.ajax({
        		url: "{{ rootPath }}/api/ulica?",
          		dataType: "json",
          		data: {
          			q: request.term,
            		id: function() {
                		if($( "#miasto-id" ).val() == undefined)
                    		return 0;
                		else
                    		return $( "#miasto-id" ).val();
                    },
          		},
          		//cache: false,
          		type: "GET",
          		success: function( data ) {
                	response(data);
          		},
    		})
		},
      	minLength: 2,
        select: function (event, ui) {
            $('#ulica-text').val(ui.item.label); 
            $('#ulica-id').val(ui.item.value); 
            return false;
        },
       	change: function( event, ui ) {
           	$( "#ulica-id" ).val(ui.item? ui.item.value : 0);
           	return false;
       	},      	
	});


    $('#form-validator').validator();

    //$('#form-validator').validator('validate');
	
};

</script>

	<h3>Dane osobowe</h3>
	
	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
		    	<label class="control-label" for="imie">Imię</label>
		    	<input type="text" class="form-control" name="imie" id="imie" placeholder="Imię" 
		    	value="{{ imie }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
		    	<label class="control-label" for="nazwisko">Nazwisko</label>
		    	<input type="text" class="form-control" name="nazwisko" id="nazwisko" placeholder="Nazwisko" 
		    	value="{{ nazwisko }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-5">
			<div class="form-group">
		    	<label class="control-label" for="pesel">PESEL</label>
		    	<input type="text" class="form-control" name="pesel" id="pesel" 
		    	placeholder="PESEL" value="{{ pesel }}" data-mask="99999999999" maxlength="11"
		    	required>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
		    	<label class="control-label" for="pwz">PWZ (jeśli posiada)</label>
		    	<input type="text" class="form-control" name="pwz" id="pwz" placeholder="Prawo Wykonywania Dawodu" 
		    	value="{{ pwz }}" maxlength="7">
		    	<span class="help-block with-errors"></span>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<div class="checkbox">
				  <label>
				    <input type="checkbox" name="lekarz" value="true" {{ lekarz }}>
				    Jest lekarzem
				  </label>
				</div>
			</div>
		</div>
	</div>
	
	<h3>Adres Zamieszkania</h3>
	
	<div class="row">
		<div class="col-xs-5">
			<div class="form-group">
		    	<label class="control-label" for="wojewodztwo">Województwo</label>
		    	<select class="form-control" id="wojewodztwo" name="wojewodztwo">
					{{ wojewodztwa }}
				</select>
			</div>
		</div>
		<div class="col-xs-7">
			<div class="form-group">
		    	<label class="control-label" for="miasto-text">Miasto</label>
		    	<input type="text" class="form-control" name="miasto-text" id="miasto-text" placeholder="Miasto" 
		    	value="{{ miastoText }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
				<input id="miasto-id" name="miasto-id" type="hidden" value="{{ miastoId }}">
		  	</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
		    	<label class="control-label" for="ulica-text">Ulica</label>
		    	<input type="text" class="form-control" name="ulica-text" id="ulica-text" placeholder="Ulica" 
		    	value="{{ ulicaText }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
				<input id="ulica-id" name="ulica-id" type="hidden" value="{{ ulicaId }}">
		  	</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
		    	<label class="control-label" for="budynek">Budynek</label>
		    	<input type="text" class="form-control" name="budynek" id="budynek" placeholder="Numer" 
		    	value="{{ budynek }}" maxlength="10">
		    	<span class="help-block with-errors"></span>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
		    	<label class="control-label" for="mieszkanie">Mieszkanie</label>
		    	<input type="text" class="form-control" name="mieszkanie" id="mieszkanie" placeholder="Numer" 
		    	value="{{ mieszkanie }}" maxlength="10">
			</div>
		</div>
	</div>

	<h3>Pozostałe informacje</h3>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="telefon">Telefon</label>
		    	<input type="text" class="form-control" name="telefon" id="telefon" placeholder="Numer telefonu" value="{{ telefon }}">
			</div>
		</div>

	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="telefon">Dodatkowe</label>
		    	<textarea class="form-control" name="dodatkowe" id="dodatkowe" placeholder="Dodatkowe informacje o użytkowniku" rows="3">{{ dodatkowe }}</textarea>
			</div>
		</div>

	</div>