<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Projekt aplikacji przychodni, SWSIM 2015">
<meta name="author" content="Michał Żak, Mariusz Witkowicz">
<link rel="icon" href="{{ rootpath }}img/favicon.ico">

<title>Przychodnia Żak Witkowicz - Dokumentacja</title>

<!-- Bootstrap core CSS -->
<link href="html/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap theme -->
<link href="html/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="html/css/bootstrap-select.min.css" rel="stylesheet">
<link href="html/css/bootstrap-mike.css" rel="stylesheet">
<link href="html/css/jquery-ui.min.css" rel="stylesheet">

<!-- Custom styles -->
<link href="html/css/page.css" rel="stylesheet">


<script>
	/*
	 * Skrypt generuje losowe linki dla stylów
	 * dzięki czemu przy ich zmianie zawsze 
	 * są aktualizowane przez przeglądarkę
	 *
	 * TYLKO NA CZAS TESTOWANIA SZABLONU
	 */
	var rand = Math.floor(Math.random() * 100);
	
	var cssfiles = [
			"html/css/page.css",
			"html/css/form.css",
	    	];
		
	for(var i=0; i<cssfiles.length; i++) {
		link=document.createElement('link');
		link.href= cssfiles[i] + '?ver=' + rand;
		link.rel='stylesheet';

		document.getElementsByTagName('head')[0].appendChild(link);
		
		//$('head').append( '<link rel="stylesheet" href="' + cssfiles[i] + '?ver=' + rand + '" rel="stylesheet">' );	
	}
	
	//var oldOnload = window.onload;

	window.onload = function() {

	    /*if (typeof oldOnload == 'function') {
	        oldOnload();
	    }*/

		console.log('init');
	    
		$('body').scrollspy({
		    target: '.bs-docs-sidebar',
		    offset: 80
		});
		
	};

</script>

<style type="text/css">
<!--
.group h3 {
	border-bottom: 1px solid #EEE
}
/*.group {
    background: yellow;
    width: 200px;
    height: 500px;
}
.group .subgroup {
    background: orange;
    width: 150px;
    height: 200px;
}*/


/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

.bs-docs-sidebar .nav>.active>a {  color: #563d7c; }

/* all links */
.bs-docs-sidebar .nav>li>a {
    /*add trasnparent border */
    border-left: 2px solid transparent;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left: 2px solid #563d7c; 
}

/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide all (inactive) nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
-->
</style>


</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Przełącz nawigację</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ rootPath }}main">Przychodnia ŻW Dokumentacja</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">

			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container" id="back-to-top" style="padding-bottom:10px;">
	
	<!-- DOC BEGIN ------------------------------------------------------------------------------------------------------------ -->
	
	
	<div class="row">

    	<!--Main Content -->
	    <div class="col-xs-9">
	        <section id="Informacje" class="group">
			    <h3>Informacje</h3>
			    <p>Poniżej przedstawiono dokumentację projektu Przychodnia Żak - Witkowicz</p>
			    
			    <div id="InformacjeDokumentacja" class="subgroup">
			        <h4>Dokumentacja</h4>
			        
			        <div class="bs-callout bs-callout-primary">
					  	<h4>Treść poniższej dokumentacji</h4>
					  	<p>W poniższym dokumencie zawarto dokumentację techniczną systemu Przychodnia ŻW.</p>
					</div>

			    </div>
			 			    
			    <div id="InformacjeOProjekcie" class="subgroup">
			        <h4>O projekcie</h4>
			        
			        <p class="text-justify">Celem powstania tego serwisu było zaprojektowanie oraz wykonanie aplikacji 
				    internetowej w technologii Java&nbsp;EE. Oprogramowanie oraz jego dokumentacja posłużyły 
				    do&nbsp;oceny umiejętności programistycznych z&nbsp;przedmiotów <mark>Programowanie w&nbsp;Java&nbsp;EE</mark> 
				    oraz <mark>Projekt systemu informatycznego</mark>.</p>
				    <p class="text-justify">Programiści tworzący kod tej aplikacji to <mark>Michał&nbsp;Żak</mark> oraz 
				    <mark>Mariusz&nbsp;Witkowicz</mark>, studenci semestru&nbsp;6 w&nbsp;Śląskiej&nbsp;Wyższej&nbsp;Szkole&nbsp;Informatyczno-Medycznej 
				    w&nbsp;Chorzowie (SWSIM) na kierunku Informatyka o&nbsp;specjalizacji 
				    <mark>Inżynieria oprogramowania i bazy danych</mark>.</p>
				</div>
				
				<div id="InformacjeTechnologie" class="subgroup">
				    <h4>Wykorzystane technologie</h4>
				    <dl class="dl-horizontal">
				    <dt>Java EE</dt>
				  	<dd class="text-justify">Aplikacja w&nbsp;całości została utworzona z&nbsp;klas Java oraz servletów&nbsp;v3 
				  		uruchamianych po stronie serwerowej. W&nbsp;ten sposób użytkownik czerpie zalety 
				    	z&nbsp;możliwości dynamicznego wyświetlania stron, podczas gdy dane są&nbsp;zabezpieczone po&nbsp;stronie 
				    	serwera.</dd>
				    <dt>Tomcat v7.0</dt>
				  	<dd class="text-justify">Wybrany ze względu na popularność oraz łatwość 
				    	instalacji oraz konfiguracji w&nbsp;pakiecie&nbsp;XAMPP, umożliwia uruchomienie kodu Java&nbsp;EE.</dd>
				  	<dt>HTML5, CSS3, <br/>JavaScript</dt>
				  	<dd class="text-justify">W oparciu o&nbsp;aktualne technologie, strona kliencka 
				    	jest również dynamiczna oraz umożliwia renderowanie ładnych i&nbsp;czytelnych stron, 
				    	zasadniczo odbiegających od&nbsp;standardowych nieczytelnych szablonów.</dd>
				
					</dl>
				</div>
				<div id="InformacjeBiblioteki" class="subgroup">
				    <h4>Biblioteki</h4>
				    <p class="text-justify">W ramach wykonania projektu wykorzystano gotowe biblioteki które znacząco 
				    przyśpieszyły tworzenie serwisu. Nie&nbsp;jest możliwe tworzenie ciekawych oraz sprawnie 
				    działających serwisów bez wielu godzin testowania oraz "prób&nbsp;i&nbsp;błędów" - wykorzystanie 
				    istniejących narzędzi to&nbsp;podstawa.</p>
				    
				    <dl class="dl-horizontal">
				  	<dt>Bootstrap</dt>
				  	<dd class="text-justify">Rozwinięty framework wiążący w&nbsp;sobie szablon HTML, 
				    	bazę stylów&nbsp;CSS oraz dynamiczne pozycjonowanie strony z&nbsp;użyciem JavaScript. Wszystkie 
				    	te&nbsp;cechy umożliwiają tworzenie stron o&nbsp;dużej kompatybilności względem różnych przeglądarek 
				    	oraz obsługę różnych rozmiarów ekranów. Uogólnienie stylów skraca znacząco konieczność 
				    	tworzenia szablonów&nbsp;CSS, ale pozostawia możliwość łatwej modyfikacji.</dd>
				    <dt>jQuery oraz jQuery UI</dt>
				  	<dd class="text-justify">Biblioteki JavaScript znacząco przyśpieszające 
				    	tworzenie kodu dynamicznie reagującego na&nbsp;akcje użytkownika. Są&nbsp;wykorzystywane również przez 
				    	Bootstrap do&nbsp;aktywnego reagowania na&nbsp;rozmiar ekranu oraz walidacji formularzy.</dd>
					</dl> 
			    </div>
			    
			    
			    
			</section>
			
			
	        <section id="Instalacja" class="group">
	        	<h3>Instalacja</h3>
			    
			    <div id="InstalacjaWymagania" class="subgroup">
			        <h4>Wymagania</h4>
			        
			        <p>Do uruchomienia aplikacji potrzebne są:</p>
			        
			        <dl class="dl-horizontal">
						<dt>Tomcat</dt>
			  			<dd><p>Serwer Java EE w wersji min. 7.0 poprawnie skonfigurowany do pracy w systemie</p></dd>
			  			<dt>MySQL</dt>
			  			<dd><p>Baza danych w wersji min 5.6</p></dd>
			  		</dl>
			    </div>
			    
			    <div id="InstalacjaOprogramowania" class="subgroup">
			        <h4>Instalowanie</h4>
			        
			        <p>Dostarczoną aplikację w formacie <strong>war</strong> lub katalog z plikami, należy skopiować do <mark>{server}/tomcat/webapps</mark>. Detekcja powinna nastąpić automatycznie.</p>
			        <p>Uruchomienie można sprawdzić odwiedzając stronę <mark>{adres_servera}/PrzychodniaJEE/main</mark>.</p>
			        <p>Konfiguracja dostępna jest w plikach <mark>src/pl/edu/swsim/jee/core/ConfigData.java</mark> oraz <mark>src/hibernate.cfg.xml</mark></p>
			    </div>
			    
			    <div id="InstalacjaDomyslnaKonfiguracja" class="subgroup">
			        <h4>Domyślna konfiguracja</h4>
			        
			        <p>Domyślna konfiguracja posiada konta admina oraz użytkownika, jak równiez dane testowe (aplikacja przygotowana 
			        jest w jako test systemu i jego funkcjonalności).</p>
			    </div>
	        </section>
	        
	       	<section id="BazaDanych" class="group">
	        	<h3>Baza danych</h3>
	        	
	        	<p class="text-justify">Projekt wykorzystuje bazę danych MySQL, z którą łączy się za pomocą biblioteki <mark>Hibernate</mark>. 
	        	Do poprawnej pracy konieczna jest odpowiednia konfiguracja w pliku (...). </p>
	        	
			    <div id="BazaDanychERD" class="subgroup">
			        <h4>ERD</h4>
			        
			        <p class="text-justify">Projekt bazodanowy został przygotowany w MySQL Workbench. Graficzna forma tworzenia tabel znacząco przyśpieszyła 
			        etap determinacji wymaganych kolumn oraz tabel bazy danych. Po zatwierdzeniu ogólnego projektu, bazę recznie odtworzono 
			        w języku Java z użyciem Adnotacji, w postaci formy akceptowalnej przez moduły ORM biblioteki Hibernate. W ten sposób 
			        powstała zautomatyzowana struktura obiektowa umożliwiająca łatwe odtworzenie bazy oraz zarządzanie rekordami.</p>

					<p>Poniższy wykres erd przedstawia schemat budowy tabel bazy. <br />(Kliknij aby powiększyć)</p>
					
					<a href="db/erd.png" target="_blank"><img src="db/erd.png" alt="Schemat ERD bazy danych" class="img-thumbnail img-responsive"></a>
					
			    </div>
			    
			    <div id="BazaDanychDanePersonalne" class="subgroup">
			        <h4>Dane personalne</h4>
			        
			        <p class="text-justify">Tabele <mark>ulice</mark>, <mark>miasta</mark>, <mark>wojewodztwa</mark> 
			        tworzą pełen powtarzający się schemat adresowy występujący w danych personalnych. Najbardziej ograniczoną grupę 
			        stanowią województwa które nie zmieniają się od chwili ustalenia podziału administracyjnego. Liczba miast również 
			        jest ograniczona ze względu na lokalizację placówki która miałaby ten projekt obsługiwać. Ostatecznie mogą być wielokrotnie 
			        powtarzające się dla wielu pacjentów ulice. W przypadku miast i występowaniu bloków, taki sam adres 
			        (wojewodztwo + miasto + ulica) mogłoby mieć kilkaset pacjentów. Stąd zintegrowano te dane w postaci słownikowej 
			        w osobnych tabelach.</p>

					<p class="text-justify"><mark>Pracownicy</mark> oraz <mark>pacjenci</mark> to tabele bezpośrednie z rejestrem 
					danych osobowych. Zawierają informacje o osobach pracujących oraz korzystających z usług placówki. Dane te nie są 
					już ponownie powtarzane w żadnym miejscu systemu.</p>
					
					<p class="text-justify">w celu uniezależnienia pracy systemu od danych osobowych oddzielono użytkowników systemu 
					w osobnej tabeli <mark>uzytkownicy</mark> odwołując się poprzez relację do konkretnych pracowników. W ten sposób 
					baza danych może być dzielona z innym programem do zarządzania/importu/exportu danych, bez obawy o bezpieczeństwo 
					danych logowania.</p>
			    </div>
			    
			    <div id="BazaDanychWizyty" class="subgroup">
			        <h4>Wizyty</h4>
			        
			        <p class="text-justify"><mark>Wizyty</mark> to ujednolicona tabela w której zachowywane są informacje o przyjęciach 
			        pacjentów na zwykłe wizyty, oraz na zabiegi. Pełni rolę kalendarza terminów, gdzie można rejestrować umawianie 
			        z pacjentami daty oraz godziny docelowych wizyt.</p>

			    </div>
			    
			    <div id="BazaDanychRozpoznania" class="subgroup">
			        <h4>Rozpoznania</h4>
			        
			        <p class="text-justify"><mark>Rozpoznania</mark> są tabelą relacyjną za pomocą której można skojarzyć rozpoznania chorób 
			        z konkretnymi pacjentami. </p>

			    </div>
			    
			    <div id="BazaDanychSlowniki" class="subgroup">
			        <h4>Słowniki</h4>
			        
			        <p class="text-justify">Aby ograniczyć powtarzalność elementów i przyśpieszyć dodawanie nowych rekordów utworzono 
			        dodatkowe słowniki (tabele słowników).</p>
			        
			        <p class="text-justify"><mark>Rodzaje wizyt</mark> oraz <mark>rodzaje zabiegów</mark> służą do kategoryzacji wizyt/zabiegów 
			        poprzez przypisanie im gotowych definicji takich jak przewidywany czas realizacji lub ilość punktów refundowaną z NFZ. Ograniczają 
			        przypisywanie nowego terminu/zabiegu do minimum, czyli ustalenia tylko terminu i pacjenta.</p>
			        
			        <p class="text-justify"><mark>Choroby</mark> jednoznacznie definiują nazwę i rodzaj choroby uniemożliwiając pojawienie się pomyłek 
			        które mogłyby wystąpić przy wielokrotnym wypisywaniu tej samej treści.</p>
			        
			        <p class="text-justify"><mark>Gabinety</mark> zwykle raz przypisane nie zmieniają się do czasu remontu w placówce. Jednokrotne 
			        zdefiniowanie ich pozwala na łatwe przypisywanie w rodzajach zabiegów oraz wizyt.</p>

			    </div>
	        </section>
	        
	        
	       	<section id="Struktura" class="group">
	        	<h3>Struktura programu</h3>
	        	
	        	<p class="text-justify">Program został oparty o wzorzec programowania MVC, przez co odzielona została: 
	        	logika aplikacji, szablony oraz struktury danych z bazy MySQL. </p>
	        	
	        	<div class="bs-callout bs-callout-primary">
				  	<h4>Repozytoria GIT</h4>
				  	<p>Dla powyższego, w celu synchronizacji pracy grupowej, utworzono repozytoria GIT 
				  	w serwisie <a href="http://bitbucket.org" target="_blank">bitbucket.org</a></p>
					  	
					<dl class="dl-horizontal">
						<dt>PrzychodniaDB</dt>
			  			<dd><p class="text-justify"><a href="https://bitbucket.org/swsim_mm/przychodniadb" 
			  			target="_blank">bitbucket.org/swsim_mm/przychodniadb</a><br />
			  			Projekt modułu bazodanowego na którego składają się pliki Entity Hibernate 
			  			ORM oraz Repository.</p></dd>

						<dt>PrzychodniaJava</dt>
			  			<dd><p class="text-justify"><a href="https://bitbucket.org/swsim_mm/przychodniajava" 
			  			target="_blank">bitbucket.org/swsim_mm/przychodniajava</a><br />
			  			Aplikacja desktopowa z wykorzystaniem biblioteki GUI SWING dla Java. 
			  			Odzwiercielda te same działanie co aplikacja JEE lecz obsługuje tylko jednego 
			  			użytkownika.</p></dd>
			  			
			  			<dt>PrzychodniaJEE</dt>
			  			<dd><p class="text-justify"><a href="https://bitbucket.org/swsim_mm/przychodniajee" 
			  			target="_blank">bitbucket.org/swsim_mm/przychodniajee</a><br />
			  			Aplikacja web oparta na servlet v3 Java EE której dokumentacja dotyczy.</p></dd>
			  			
			  			<dt>PrzychodniaTest</dt>
			  			<dd><p class="text-justify"><a href="https://bitbucket.org/swsim_mm/przychodniatest" 
			  			target="_blank">bitbucket.org/swsim_mm/przychodniatest</a><br />
			  			Testy modułu bazodanowego.</p></dd>
		  			</dl>
				</div>
	        	

			    <div id="StrukturaMVC" class="subgroup">
			        <h4>MVC</h4>
			        
			        <p class="text-justify">(Model View Controller) jest wzorcem pozwalajacym na osiaganie lepszej strktury 
			        plików oraz kodu w projektach programistycznych. W powyższym projekcie został wykorzystany aby oddzielić 
			        logikę HTTP Request od dostępu do danych w ORM Hibernate oraz kodu HTML/CSS/JS.</p>
					
			    </div>
			    
			    <div id="StrukturaControler" class="subgroup">
			        <h4>Controller</h4>
			        
			        <p class="text-justify">Dzięki Servlet v3 pojedyńcze kontrolery są wywoływane bezpośrednio przez 
			        router definiowany w nagłówkach klas servletów. Jeden kontroler odpowiada adresowi (lub kilku adresom) 
			        wywoływanych przez odpowidni/e linki wewnątrz serwisu.</p>
			        
			        <p class="text-justify">Działanie jest proste, otrzymany HTTP Request tłumaczony jest przez router i wywołuje 
			        <mark>doGet</mark> lub <mark>doPost</mark> wskazanej klasy. Wewnątrz metody następuje wykorzystanie elementów 
			        Model oraz View projektu oraz zwracany jest gotowy tekst w formacie html.</p>
			                
			        <p class="text-justify">Kontrolerami są wszystkie pliki klas bezpośrednio w <mark>src/pl/edu/swsim/jee</mark></p>
					
			    </div>
			    
			    <div id="StrukturaModel" class="subgroup">
			        <h4>Model</h4>
			        
			        <p class="text-justify">Baza danych obsługiwania jest obiektowo w ORM za pomocą Hibernate. Zdefiniowane 
			        są klasy <mark>Entity</mark> które reprezentują pojedyńczy rekord oraz <mark>Repository</mark> umożliwiające 
			        operacje na danych bez znajomości i konieczności definiowana dodatkowych zmiennych i danych.</p>

			        <p class="text-justify">Klasy Entity znajdują się w <mark>src/pl/edu/swsim/zw/entities</mark> i mają nakońcach 
			        nazw <mark>*Ent</mark>. Klasy repository odpowiednio w <mark>src/pl/edu/swsim/zw/dao</mark> mają na końcach 
			        nazw <mark>*Rep</mark>.</p>

			    </div>
			    
			    <div id="StrukturaView" class="subgroup">
			        <h4>View</h4>
			        
			        <p class="text-justify">Widok kodu <strong>HTML</strong> został umieszczony w osobnych plikach z 
			        rozszerzeniami <mark>.twig</mark> ze wzgledu na wykorzystanie specyfiki tagów <mark>{{&nbsp;tag&nbsp;}}</mark> 
			        które zostały wymyślone dla tego typu szablonów. Pliki są wczytywane napisanym autorsko prostym parserem 
			        szablonów.</p>

			        <p class="text-justify">W celu uporządkowania katalogów, pliki <strong>HTML/CSS/JS</strong> znajdują się 
			        w katalogu <mark>public</mark> a ostatecznie dzięki konfiguracji środowiska eclipse w <mark>WebContent</mark>.</p>
			        
			        <p class="text-justify">W szablonach wykorzystano html/css/js framework <strong>Bootstrap</strong>.</p>

			    </div>
			    
			    <div id="StrukturaPozostale" class="subgroup">
			        <h4>Pozostałe</h4>
			        
			        <p class="text-justify">Projekt składa się również z innych istotnych plików majacych kluczowe zadania w projekcie.</p>


        			<dl class="dl-horizontal">
						<dt>CoreApp</dt>
			  			<dd><p class="text-justify">Klasa pojawia się we wszystkich kontolerach, inicjowana jest ich wartościami. 
			  			Zawiera obsługę logowania, authentykacji oraz wspomagajace rendownie strony metody.</p></dd>
			  			<dt>Template</dt>
			  			<dd><p class="text-justify">Prosta klasa szablonów wyszujująca tagi <mark>{{ tag }}</mark> 
			  			wewnątrz plików <mark>.twig</mark>. Dużo prostsze rozwiązanie niż <strong>JSP</strong> dające pełną 
			  			kontrolę nad&nbsp;JavaScript, formularzami i&nbsp;kodem HTML. Parser ten zawiera również inne przydante zmienne 
			  			takie jak <mark>rootPath</mark> zawierający pełną ścieżkę aplikacji.</p></dd>
			  			<dt>Md5Hash</dt>
			  			<dd><p class="text-justify">Uproszczona interpretacja hashowania MD5, ułatwiająca wykorzystanie 
			  			wewnątrz innych klas jako metodę. (Wbrew pozorom autorzy Java EE nie&nbsp;pomyśleli o tym :( )</p></dd>
			  			<dt>SuperTable</dt>
			  			<dd><p class="text-justify">Własna klasa tabel na&nbsp;wzór JTable, generujaca dane z&nbsp;klasy abstraktycjenj 
			  			oraz danych deklarowanych w&nbsp;podobny sposób co&nbsp;kontrolka SWING. Dodakowo interpertuje sporą czesć 
			  			mechaniki sortowania.</p></dd>
			  			<dt>Assoc</dt>
			  			<dd><p class="text-justify">Uproszczona mechanika tablicy asocjacyjnej w&nbsp;postaci prostej klasy 
			  			klucz&nbsp;-&gt;&nbsp;wartość. Umożliwia prostrze definiowanie tablic bezpośrednio w&nbsp;wywołnaiu metod.</p></dd>
			  			<dt>Kontrolery w <br />katalogu api</dt>
			  			<dd><p class="text-justify">Umożliwiają dostęp do&nbsp;danych elementom AJAX. Są&nbsp;jednak nadal zabezpieczone 
			  			przed dostępem tylko dla zalogowanych użytkowników.</p></dd>
		  			</dl>

			    </div>
			</section>
			
			<section id="Zakonczenie" class="group">
	        	<h3>Zakończenie</h3>
	        	
	        	<p class="text-justify">Dziękujemy za poświęcony czas i liczymy na pozytywną ocenę.</p>
	        	
	        	<p class="text-center">
	        	<a href="html/img/buzia.jpg" target="_blank"><img src="html/img/buzia.jpg" alt="Liczymy na pozytywną ocenę" 
	        	class="img-thumbnail img-responsive"></a>
				</p>
			</section>
	    </div>
	    
        <!--Nav Bar -->
	    <nav class="col-xs-3 bs-docs-sidebar">

			<ul id="sidebar" class="nav nav-stacked affix">
			    <li>
			        <a href="#Informacje">Informacje</a>
			        <ul class="nav nav-stacked">
			            <li><a href="#InformacjeDokumentacja">Dokumentacja</a></li>
			            <li><a href="#InformacjeOProjekcie">O projekcie</a></li>
			            <li><a href="#InformacjeTechnologie">Technologie</a></li>
			            <li><a href="#InformacjeBiblioteki">Biblioteki</a></li>
			        </ul>
			    </li>
			    <li>
			        <a href="#Instalacja">Instalacja</a>
			        <ul class="nav nav-stacked">
			            <li><a href="#InstalacjaWymagania">Wymagania</a></li>
			            <li><a href="#InstalacjaOprogramowania">Instalowanie</a></li>
			            <li><a href="#InstalacjaDomyslnaKonfiguracja">Domyślna konfiguracja</a></li>
			        </ul>
			    </li>
			    <li>
			        <a href="#BazaDanych">Baza Danych</a>
			        <ul class="nav nav-stacked">
			            <li><a href="#BazaDanychERD">ERD</a></li>
			            <li><a href="#BazaDanychDanePersonalne">Dane personalne</a></li>
			            <li><a href="#BazaDanychWizyty">Wizyty</a></li>
			            <li><a href="#BazaDanychRozpoznania">Rozpoznania</a></li>
			            <li><a href="#BazaDanychSlowniki">Słowniki</a></li>
			        </ul>
			    </li>
			    <li>
			        <a href="#Struktura">Struktura</a>
			        <ul class="nav nav-stacked">
			            <li><a href="#StrukturaMVC">MVC</a></li>
			            <li><a href="#StrukturaControler">Controller</a></li>
			            <li><a href="#StrukturaModel">Model</a></li>
			            <li><a href="#StrukturaView">View</a></li>
			            <li><a href="#StrukturaPozostale">Pozostałe</a></li>
			        </ul>
			    </li>
			    <li>
			        <a href="#Zakonczenie">Zakończenie</a>
			    </li>
			</ul>
	    </nav>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
		<!-- DOC END ------------------------------------------------------------------------------------------------------------ -->
	</div>
	<!-- /.container -->

   <footer class="footer">
      <div class="container">
      	
        <!-- <p class="pull-right">  
        	<a href="{{ rootPath }}about"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> O Projekcie</a> 
        	&middot; <a href="#back-to-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>W górę</a></p> -->
        <p class="text-muted" style="margin:0;">Projekt systemu informatycznego 2015<br /> Programowanie w Java EE<br />
				Michał Żak &amp; Mariusz Witkowicz</p>
      </div>
    </footer>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="html/js/jquery-2.1.3.min.js"></script>
	<script src="html/js/jquery-ui.min.js"></script>
	<script src="html/js/bootstrap.min.js"></script>
	<script src="html/js/bootstrap-select.min.js"></script>
	<script src="html/js/validator.min.js"></script>
	
	<script src="html/js/form.action.js"></script>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="html/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>