<script type="text/javascript">

var oldOnload = window.onload;

window.onload = function() {

    if (typeof oldOnload == 'function') {
        oldOnload();
    }

	console.log('init');


    $('#form-validator').validator();

    //$('#form-validator').validator('validate');
	
};

</script>

	<h3>Dane rodzaju wizyty</h3>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="nazwa">Nazwa</label>
		    	<input type="text" class="form-control" name="nazwa" id="nazwa" placeholder="Nazwa" 
		    	value="{{ nazwa }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="gabinet">Gabinet</label>
		    	<select class="form-control" id="gabinet" name="gabinet">
		    	<option value="0">Brak</option>
					{{ gabinet }}
				</select>
			</div>
		</div>
	</div>
	
	
	<label class="control-label" for="gabinet">Czas trwania:</label>
	<div class="row">
	
	<!--   Do poprawki/ uzupełnienia -->	
		<div class="col-xs-6">
			<div class="form-group">
		    	<div class="input-group">
		    	<span class="input-group-addon">Godz.</span>
		    	<input type="number" class="form-control" name="czas-h" id="czas-h" placeholder="Godzina" 
		    	value="{{ czas-h }}" min="0" max="24" required>   	
		    	</div>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
		    	<div class="input-group">
		    	<span class="input-group-addon">Min.</span>
		    	<input type="number" class="form-control" name="czas-m" id="czas-m" placeholder="Minuty" 
		    	value="{{ czas-m }}" min="0" max="59" required>
		    	</div>
		    	<span class="help-block with-errors"></span>
			</div>
		</div>
	

	