<style>
<!--

/*#edd9f7*/
-->
</style>

<script type="text/javascript">
var oldOnload = window.onload;

window.onload = function() {

    if (typeof oldOnload == 'function') {
        oldOnload();
    }

	console.log('init');

	// Kliknięcie na rekord tabeli
	$( ".st-row-element" ).click(function () {
		// deselect elementów
		$( ".table-selected-item" ).each(function( index ) {
			  $(this).removeClass("table-selected-item");
			});

		$(this).addClass("table-selected-item");

		// cieniowanie przycisków
		$( "#see-details" ).removeClass("table-button-shade");
		$( "#edit-item" ).removeClass("table-button-shade");
		$( "#remove-item" ).removeClass("table-button-shade");
	});

	// Podwójne klinięcie na rekord tabeli
	$( ".st-row-element" ).dblclick(function() {
		//$(this).click();
		$( "#see-details" ).click();
	});

	// Nowy rekord
	$( "#new-item" ).click(function () {
		window.location = "{{ rootPath }}{{ recordTargetLink }}?mode=new";
	});

	// Zobacz szczegóły
	$( "#see-details" ).click(function () {
		if($( ".table-selected-item" ).length ) { 
			window.location = "{{ rootPath }}{{ recordTargetLink }}?mode=view&id=" + $( ".table-selected-item" ).data("id");
		}
	});

	// Edytuj
	$( "#edit-item" ).click(function () {
		if($( ".table-selected-item" ).length ) { 
			window.location = "{{ rootPath }}{{ recordTargetLink }}?mode=edit&id=" + $( ".table-selected-item" ).data("id");
		}
	});

	// Usuń element
	$( "#remove-item" ).click(function () {
		if($( ".table-selected-item" ).length ) { 
			window.location = "{{ rootPath }}{{ recordTargetLink }}?mode=remove&id=" + $( ".table-selected-item" ).data("id");
		}
	});

	$( "#order" ).change(function () {
		this.form.submit();
	});
	
};
</script>




<div class="page-header">
	<h2>Rodzaje zabiegów</h2>
</div>

{{ message }}

<div class="panel panel-primary "> <!-- panel-default panel-primary  -->
	<div class="panel-heading">Lista rodzajów zabiegów</div>
	<div class="panel-body">
    
		<form action="{{ rootPath }}{{ sortTargetLink }}" id="change-order" method="get" class="form-inline">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group" >
			      	<label class="" for="order"> Sortuj według:</label>
			      	<select id="order" class="selectpicker" title="Sortuj według" name="order">
			     		{{ selectSortBox }}
			      	</select>
			    </div>
		    </div>
		    <div class="col-sm-6">
		    <div class="form-group" style="width: 100%;">
			    <div class="input-group" >
					<input class="form-control" name="search-text" id="search-text"	placeholder="Szukaj..." value="{{ searchText }}">
					<span class="input-group-btn" style="width: 1%">
		       			<button class="btn btn-default"type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></button>
		      		</span>
	      		</div>
	      		</div>
	      	</div>
		</div>
		<div class="row" style="margin-top: 5px">
			<div class="col-xs-3">
				<div class="form-group" style="margin-right: 2px">
					<button class="btn btn-default " type="button" title="Odśwież listę" onclick="location.reload();">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					</button>
			    </div>
			</div>
		    <div class="col-xs-9">  
			    <div class="form-group pull-right">
		    		<button class="btn btn-default" type="button" id="new-item" title="Dodaj">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
					<button class="btn btn-default table-button-shade" type="button" id="edit-item" title="Edytuj">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<button class="btn btn-default table-button-shade" type="button" id="remove-item" title="Usuń">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<button class="btn btn-default table-button-shade" type="button" id="see-details" title="Zobacz">
						Podgląd
					</button>
				</div>
			</div> 
		</div>
		</form>
	
</div><!-- /panelbody -->
  <!-- Table -->
  <table class="table table-striped table-hover" id="">
  {{ tableContent }}
  </table>
  &nbsp;
</div>

