<script type="text/javascript">



var oldOnload = window.onload;

window.onload = function() {

    if (typeof oldOnload == 'function') {
        oldOnload();
    }

	console.log('init');


    $('#form-validator').validator();

    //$('#form-validator').validator('validate');
	
};

</script>

	<h3>Dane rodzaju zabiegu</h3>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="nazwa">Nazwa</label>
		    	<input type="text" class="form-control" name="nazwa" id="nazwa" placeholder="Nazwa" 
		    	value="{{ nazwa }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="rodzaj">Rodzaj</label>
		    	<input type="text" class="form-control" name="rodzaj" id="rodzaj" placeholder="Rodzaj" 
		    	value="{{ rodzaj }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-2">
			<label class="control-label" for="gabinet">Czas trwania:</label>
		</div>
		<div class="col-xs-5">
			<div class="form-group">
		    	<div class="input-group">
		    	<span class="input-group-addon">Godz.</span>
		    	<input type="number" class="form-control" name="czas-h" id="czas-h" placeholder="Godzina" 
		    	value="{{ czas-h }}" min="0" max="24" required>
		    	</div>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>
		<div class="col-xs-5">
			<div class="form-group">
		    	<div class="input-group">
		    	<span class="input-group-addon">Min.</span>
		    	<input type="number" class="form-control" name="czas-m" id="czas-m" placeholder="Minuty" 
		    	value="{{ czas-m }}" min="0" max="59" required>
		    	</div>
		    	<span class="help-block with-errors"></span>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
		<label class="control-label" for="gabinet">Gabinet</label>
			<div class="form-group">
		    	<select class="form-control" id="gabinet" name="gabinet">
		    	<option value="0">Brak</option>
					{{ gabinet }}
				</select>
				<span class="help-block with-errors"></span>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
			<label class="control-label" for="cena">Cena</label>
			<div class="input-group">
		    	<input type="number" class="form-control" name="cena" id="cena" placeholder="Cena" 
		    	value="{{ cena }}" maxlength="64" min="0" required>
		    	<span class="input-group-addon">.00</span><span class="input-group-addon">ZŁ.</span>
		    	</div>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>	
		

	</div>

	<div class="row">
		<div class="col-xs-6">
			<div class="form-group" style="margin-left: 20px;">
				<div class="checkbox">
				    <input type="checkbox" name="skierowanie" value="true" {{ skierowanie }}>
				    <label class="control-label" for="skierowanie">Wym. Skierowanie</label>
				</div>
			</div>
			<div class="form-group" style="margin-left: 20px;">
				<div class="checkbox">
				    <input type="checkbox" name="refundacja" value="true" {{ refundacja }} onchange="document.getElementById('punkty').disabled=!this.checked;" checked="checked">
				    <label class="control-label" for="refundacja">Refundacja</label>
				</div>
			</div>
		</div>
		<div class="col-xs-6">	
			<div class="form-group">
		    	<label class="control-label" for="punkty">Punkty</label>
		    	<input type="number" class="form-control" name="punkty" id="punkty" placeholder="Punkty" 
		    	value="{{ punkty }}" maxlength="64" min="1" required>
		    	<span class="help-block with-errors"></span>
		  	</div>
		</div>		
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="telefon">Opis</label>
		    	<textarea class="form-control" name="opis" id="opis" placeholder="Opis rodzaju zabiegu" rows="3">{{ opis }}</textarea>
			</div>
		</div>
		
	</div>
	

	