
	<div class="row">
		<div class="col-md-9">
		
			<div class="page-header" id="projekt">
		    	<h1>O Projekcie</h1>
			</div>
			
		    <p class="lead">Informacje na temat projektu "Przychodnia Żak &amp; Witkowicz"</p>
		    <p class="text-justify">Celem powstania tego serwisu było zaprojektowanie oraz wykonanie aplikacji 
		    internetowej w technologii Java&nbsp;EE. Oprogramowanie oraz jego dokumentacja posłużyły 
		    do&nbsp;oceny umiejętności programistycznych z&nbsp;przedmiotów <mark>Programowanie w&nbsp;Java&nbsp;EE</mark> 
		    oraz <mark>Projekt systemu informatycznego</mark>.</p>
		    <p class="text-justify">Programiści tworzący kod tej aplikacji to <mark>Michał&nbsp;Żak</mark> oraz 
		    <mark>Mariusz&nbsp;Witkowicz</mark>, studenci semestru&nbsp;6 w&nbsp;Śląskiej&nbsp;Wyższej&nbsp;Szkole&nbsp;Informatyczno-Medcznej 
		    w&nbsp;Chorzowie (SWSIM) na kierunku Informatyka o&nbsp;specjalizacji 
		    <mark>Inżynieria oprogramowania i bazy danych</mark>.</p>
		    
		    <p class="lead" id="technilogie">Wykorzystane technologie</p>
		    <dl class="dl-horizontal">
		    <dt>Java EE</dt>
		  	<dd class="text-justify">Aplikacja w&nbsp;całości została utworzona z&nbsp;klas Java oraz servletów&nbsp;v3 
		  		uruchamianych po stronie serwerowej. W&nbsp;ten sposób użytkownik czerpie zalety 
		    	z&nbsp;możliwości dynamicznego wyświetlania stron, podczas gdy dane są&nbsp;zabezpieczone po&nbsp;stronie 
		    	serwera.</dd>
		    <dt>Tomcat v7.0</dt>
		  	<dd class="text-justify">Wybrany ze względu na popularność oraz łatwość 
		    	instalacji oraz konfiguracji w&nbsp;pakiecie&nbsp;XAMPP, umożliwia uruchomienie kodu Java&nbsp;EE.</dd>
		  	<dt>HTML5, CSS3, <br/>JavaScript</dt>
		  	<dd class="text-justify">W oparciu o&nbsp;aktualne technologie, strona kliencka 
		    	jest również dynamiczna oraz umożliwa renderowanie ładnych i&nbsp;czytelnych stron, 
		    	zasadniczo odbiegających od&nbsp;standardowych nieczytelnych szablonów.</dd>
		
			</dl>
			
		    <p class="lead" id="biblioteki">Biblioteki</p>
		    <p class="text-justify">W ramach wykonania projektu wykorzystano gotowe biblioteki które znacząco 
		    przyśpieszyły tworzenie serwisu. Nie&nbsp;jest możliwe tworzenie ciekawych oraz sprawnie 
		    działających serwisów bez wielu godzin testowania oraz "prób&nbsp;i&nbsp;błędów" - wykorzystanie 
		    istniejących narzędzi to&nbsp;podstawa.</p>
		    
		    <dl class="dl-horizontal">
		  	<dt>Bootstrap</dt>
		  	<dd class="text-justify">Rozwinięty framework wiążący w&nbsp;sobie szablon HTML, 
		    	bazę stylów&nbsp;CSS oraz dynamiczne pozycjonowanie strony z&nbsp;użyciem JavaScript. Wszystkie 
		    	te&nbsp;cechy umożliwiają tworzenie stron o&nbsp;dużej kompatybilności względem różnych przeglądarek 
		    	oraz obsługę różnych rozmiarów ekranów. Uogólnienie stylów skraca znacząco konieczność 
		    	tworzenia szablonów&nbsp;CSS, ale pozostawia możliwość łatwej modyfikacji.</dd>
		    <dt>jQuery oraz jQuery UI</dt>
		  	<dd class="text-justify">Biblioteki JavaScript znacząco przyśpieszające 
		    	tworzenie kodu dynamicznie reagującego na&nbsp;akcje użytkownika. Są&nbsp;wykorzystywane również przez 
		    	Bootstrap do&nbsp;aktywnego reagowania na&nbsp;rozmiar ekranu oraz walidacji formularzy.</dd>
			</dl> 
		      
		      
			<p class="lead" id="konfiguracja">Domyślna konfiguracja</p>
			<p class="text-justify">Oprogramowanie w domyślnej formie zawiera konfigurację oraz wstępne dane pokazujące 
			podstawową funkcjonalność. Domyślne konto systemu umożliwiające zalogowanie się i zarządzanie 
			serwisem to konto administratora nie przypisane do żadnego pracownika.</p>
			<dl class="dl-horizontal">
			  	<dt>Użytkownik</dt>
			  	<dd>admin</dd>
			    <dt>Hasło</dt>
			  	<dd>admin</dd>
			</dl> 
			<p>Do przetestowania różnic w dostępie można wypróbować konto zwykłego pracownika systemu.</p>
			<dl class="dl-horizontal">
			  	<dt>Użytkownik</dt>
			  	<dd>test</dd>
			    <dt>Hasło</dt>
			  	<dd>test</dd>
			</dl> 
		
		
			<p class="lead" id="dokumentacja">Dokumentacja</p>
			<p>Wraz z projektem dostarczono dokumentację projektu w skład której wchodzą:</p>
			<dl class="dl-horizontal">
				<dt>doc/index.html</dt>
			  	<dd><p><span class="text-primary"><strong>Krótka dokumentacja tekstowa</strong></span> 
			  	przedstawiająca opis systemu od strony technicznej. W ramach opisu zaczerpnięto również 
			  	fragmenty wszystkich poniżej wymienionych opisów elementów systemu.</p></dd>
			  	<dt>doc/db</dt>
			  	<dd><p><span class="text-primary"><strong>Diagram związków encji bazy danych</strong></span> 
			  	prezentujący tabele oraz struktury na podstawie których utworzono klasy Entity dla 
			  	biblioteki Hibernate.</p></dd>
			  	<dt>doc/lib</dt>
			  	<dd><p><span class="text-primary"><strong>Dodatkowe biblioteki</strong></span> 
			  	które zostały wykorzystane w oprogramowaniu.</p></dd>
			  	
			</dl> 
		
		</div>
	
		<div class="col-md-3">
		
			<nav class="nav-sidebar hidden-print hidden-xs hidden-sm affix">
				<ul class="nav nav-sidebar">
	            	<li><a href="#projekt">O Projekcie</a></li>
					<li><a href="#technilogie">Technologie</a></li>
					<li><a href="#biblioteki">Biblioteki</a></li>
					<li><a href="#konfiguracja">Konfiguracja</a></li>
					<li><a href="#dokumentacja">Dokumentacja</a></li>
				</ul>
			</nav>		
		
		</div>
	
	</div>