
	    <h1>Opsss....</h1>
	    <div class="bs-callout bs-callout-danger ">
		    <h4>Błędny adres, coś poszło nie tak...</h4>
      		<p>Nie powinieneś się tu znaleźć, sprawdz wpisany adres lub 
      		użyj nawigacji w systemie. Jeśli błąd się powtwórzy skontatktuj 
      		się z administratorem.</p>
 	  	</div>

    