
		<div class="page-header">
        	<h1>Witaj w "Przychodnia Żak &amp; Witkowicz"</h1>
      	</div>
      
      	<div class="bs-callout bs-callout-primary ">
	    	<h4>Zaloguj się do systemu aby kontynuować pracę.</h4>
	    	<p>W celu korzystania z systemu konieczna jest autoryzacja poprzez podanie nazwy użytkownika oraz hasła. </a>
		</div>
      
      	<p class="lead">Projekt</p>
     	<p>Koniecznie zobacz informacje o projekcie na stronie: "<a href="{{ rootPath }}/about">O Projekcie</a>".</p>
     	
		<p>Domyślne dane do logowania administratora:</p>
      	<dl class="dl-horizontal">
		  	<dt>Użytkownik</dt>
		  	<dd>admin</dd>
		    <dt>Hasło</dt>
		  	<dd>admin</dd>
		</dl> 
		
		<p>Dane do logowania testowego użytkownika:</p>
      	<dl class="dl-horizontal">
		  	<dt>Użytkownik</dt>
		  	<dd>test</dd>
		    <dt>Hasło</dt>
		  	<dd>test</dd>
		</dl> 