
	<div class="page-header">
        <h2>Panele szybkiego dostępu</h2>
	</div>
    
    
	<div class="row">

		<div class="col-sm-4">
          	<div class="list-group">
            	<a href="{{ rootPath }}terminy" class="list-group-item active">
              		<h4 class="list-group-item-heading">Terminy</h4>
              		<p class="list-group-item-text">Lista wizyt oraz zabiegów zarejestrowanych na dzisiaj</p>
            	</a>
              		<a href="{{ rootPath }}termin?mode=new" class="list-group-item">
              		<h4 class="list-group-item-heading">Dodaj termin</h4>
              		<p class="list-group-item-text">Tworzy nową wizytę lub zabieg we wskazanym terminie</p>
            	</a>
          </div>
        </div><!-- /.col-sm-4 -->
        
        <div class="col-sm-4">
          	<div class="list-group">
            	<a href="{{ rootPath }}rozpoznania" class="list-group-item active">
              		<h4 class="list-group-item-heading">Rejestr rozpoznań</h4>
              		<p class="list-group-item-text">Lista rozpoznań</p>
            	</a>
           		<a href="{{ rootPath }}rozpoznanie?mode=new" class="list-group-item">
              		<h4 class="list-group-item-heading">Dodaj zdiagnozowane rozpoznanie</h4>
              		<p class="list-group-item-text">Umożliwia przypisanie nowego rozpoznania po wyizycie</p>
            	</a>
          </div>
        </div><!-- /.col-sm-4 -->
        
	</div>  
        
    <div class="page-header">
        <h2>Dane osobowe</h2>
	</div>
        
    <div class="row">

		<div class="col-sm-4">
          	<div class="list-group">
            	<a href="{{ rootPath }}pacjenci" class="list-group-item active">
              		<h4 class="list-group-item-heading">Wszyscy pacjenci</h4>
              		<p class="list-group-item-text">Podgląd danych wszystkich pacjentów</p>
            	</a>
           		<a href="{{ rootPath }}pacjent?mode=new" class="list-group-item">
              		<h4 class="list-group-item-heading">Nowy pacjent</h4>
              		<p class="list-group-item-text">Dodaje nowego pacjenta do rejestru</p>
            	</a>
          </div>
        </div><!-- /.col-sm-4 -->
        
		<div class="col-sm-4">
          	<div class="list-group">
            	<a href="{{ rootPath }}pracownicy" class="list-group-item active">
              		<h4 class="list-group-item-heading">Lista pracowników</h4>
              		<p class="list-group-item-text">Baza pracowników przychodni</p>
            	</a>
           		<a href="{{ rootPath }}pracownik?mode=new" class="list-group-item">
              		<h4 class="list-group-item-heading">Nowy pracownik</h4>
              		<p class="list-group-item-text">Dodaje nowego pracownika</p>
            	</a>
          </div>
        </div><!-- /.col-sm-4 -->
        
        <div class="col-sm-4">
          	<div class="list-group">
            	<a href="{{ rootPath }}uzytkownicy" class="list-group-item active">
              		<h4 class="list-group-item-heading">Użytkownicy</h4>
              		<p class="list-group-item-text">Widok listy użytkowników tego systemu</p>
            	</a>
           		<a href="{{ rootPath }}uzytkownik?mode=new" class="list-group-item">
              		<h4 class="list-group-item-heading">Dodaj użytkownika</h4>
              		<p class="list-group-item-text">Umożliwia przypisanie istniejącemu pracownikowi nowego konta użytkownika</p>
            	</a>
          </div>
        </div><!-- /.col-sm-4 -->
        
	</div> 
	
	    <div class="page-header">
        <h2>Słowniki systemu</h2>
        <p>Definicje list używanych w kategoryzacji innych rekordów</p>
	</div>
        
    <div class="row">

		<div class="col-sm-4">
          	<div class="list-group">
            	<a href="{{ rootPath }}gabinety" class="list-group-item active">
              		<h4 class="list-group-item-heading">Gabinety</h4>
              		<p class="list-group-item-text"> </p>
            	</a>
           		<a href="{{ rootPath }}gabinet?mode=new" class="list-group-item">
              		<h4 class="list-group-item-heading">Dodaj gabinet</h4>
              		<p class="list-group-item-text"> </p>
            	</a>
          </div>
        </div><!-- /.col-sm-4 -->
        
		<div class="col-sm-4">
          	<div class="list-group">
            	<a href="{{ rootPath }}choroby" class="list-group-item active">
              		<h4 class="list-group-item-heading">Choroby</h4>
              		<p class="list-group-item-text"> </p>
            	</a>
           		<a href="{{ rootPath }}choroba?mode=new" class="list-group-item">
              		<h4 class="list-group-item-heading">Dodaj znaną chorobę</h4>
              		<p class="list-group-item-text"> </p>
            	</a>
          </div>
        </div><!-- /.col-sm-4 -->
        
        <div class="col-sm-4">
          	<div class="list-group">
            	<a href="{{ rootPath }}rodzajewizyt" class="list-group-item active">
              		<h4 class="list-group-item-heading">Rodzaje wizyt</h4>
              		<p class="list-group-item-text"> </p>
            	</a>
           		<a href="{{ rootPath }}rodzajwizyty?mode=new" class="list-group-item">
              		<h4 class="list-group-item-heading">Dodaj nowy rodzaj wizyty</h4>
              		<p class="list-group-item-text"> </p>
            	</a>
          </div>
        </div><!-- /.col-sm-4 -->
        
        <div class="col-sm-4">
          	<div class="list-group">
            	<a href="{{ rootPath }}rodzajezabiegow" class="list-group-item active">
              		<h4 class="list-group-item-heading">Rodzaje zabiegów</h4>
              		<p class="list-group-item-text"> </p>
            	</a>
           		<a href="{{ rootPath }}rodzajzabiegu?mode=new" class="list-group-item">
              		<h4 class="list-group-item-heading">Dodaj nowy rodzaj zabiegu</h4>
              		<p class="list-group-item-text"> </p>
            	</a>
          </div>
        </div><!-- /.col-sm-4 -->
        
	</div> 
        