








	

	<div class="row">
		<div class="col-md-9">
	
			<div class="page-header">
		    	<h2>Moje konto: <mark>{{ fullUser }}</mark></h2>
			</div>
			
			{{ message }}
			
			<p class="lead" id="ouzytkowniku">Bieżące informacje o użytkowniku</p>
			
			<dl class="dl-horizontal">
		  	<dt>Użytkownik</dt>
		  	<dd>{{ user }}</dd>
		    <dt>Dane personalne</dt>
		  	<dd>{{ userInfo }}</dd>
		  	<dt>Ostatnie logowanie</dt>
		  	<dd>{{ userLogInfo }}</dd>
			</dl> 
			
			<p class="lead" id="zmianahasla">Zmień hasło</p>
			
			<div class="well">Podaj swoje aktulane hasło oraz dwukotnie potwierdź nowe hasło.</div>
			
			<form class="form-horizontal" action="{{ rootPath }}user" id="form-validator" method="post">
			  	<div class="form-group">
			    	<label for="starehaslo" class="col-sm-2 control-label">Stare hasło</label>
			    	<div class="col-sm-8">
			      		<input type="password" class="form-control" id="starehaslo" name="starehaslo" placeholder="Stare hasło">
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="nowehaslo" class="col-sm-2 control-label">Nowe hasło</label>
			    	<div class="col-sm-8">
			      		<input type="password" class="form-control" id="nowehaslo" name="nowehaslo" placeholder="Nowe hasło">
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="powtorzhaslo" class="col-sm-2 control-label">Potwierdz hasło</label>
			    	<div class="col-sm-8">
			      		<input type="password" class="form-control" id="powtorzhaslo" name="powtorzhaslo" placeholder="Powtórz nowe hasło">
			    	</div>
			  	</div>
			  	<div class="form-group">
			   		<div class="col-sm-offset-2 col-sm-8">
			      		<button type="submit" class="btn btn-default">Zmień</button>
			    	</div>
			  	</div>
			</form>
			
			<div class="row">
				<div class="bs-callout bs-callout-primary">
				  	<h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Uwaga</h4>
				  	<p>Hasło zostanie zmienione dopiero po podaniu poprawnych danych oraz naciśnięicu przycisku zmień.</p>
				</div>
			</div>
		
		
		
		
		</div>
	
		<div class="col-md-3">
		
			<nav class="nav-sidebar hidden-print hidden-xs hidden-sm affix">
				<ul class="nav nav-sidebar">
	            	<li><a href="#ouzytkowniku">Informacje o użytkowniku</a></li>
					<li><a href="#zmianahasla">Zmień hasło</a></li>
				</ul>
			</nav>		
		
		</div>
	
	
	
	
	
	</div>





	
	
	

