				<ul class="nav navbar-nav">
					<li class="{{ s_panele }}"><a href="{{ rootPath }}main"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Panele</a></li>
					<li class="dropdown {{ s_przychodnia }}">
              			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Przychodnia <span class="caret"></span></a>
              			<ul class="dropdown-menu" role="menu">
							<li class="{{ s_terminy }}"><a href="{{ rootPath }}terminy">Terminy</a></li>
							<li class="{{ s_rozpoznania }}"><a href="{{ rootPath }}rozpoznania">Rozpoznania</a></li>
						</ul>
					</li>
					<li class="dropdown {{ s_dane }}">
              			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Dane<span class="caret"></span></a>
              			<ul class="dropdown-menu" role="menu">
							<li class="{{ s_pacjenci }}"><a href="{{ rootPath }}pacjenci">Pacjenci</a></li>
							<li class="{{ s_pracownicy }}"><a href="{{ rootPath }}pracownicy">Pracownicy</a></li>
							<li class="{{ s_uzytkownicy }}"><a href="{{ rootPath }}uzytkownicy">Użytkownicy</a></li>
						</ul>
					</li>
					<li class="dropdown {{ s_slowniki }}">
              			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Słowniki <span class="caret"></span></a>
              			<ul class="dropdown-menu" role="menu">
							<li class="{{ s_gabinety }}"><a href="{{ rootPath }}gabinety">Gabinety</a></li>
							<li class="{{ s_choroby }}"><a href="{{ rootPath }}choroby">Choroby</a></li>
							<li class="{{ s_rodzajewizyt }}"><a href="{{ rootPath }}rodzajewizyt">Rodzaje wizyt</a></li>
							<li class="{{ s_rodzajezabiegow }}"><a href="{{ rootPath }}rodzajezabiegow">Rodzaje zabiegów</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown {{ s_user }}">
              			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user_full_name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ rootPath }}user"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Moje konto</a></li>
							<li><a href="{{ rootPath }}login?go=out"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Wyloguj</a></li>
						</ul>
					</li>					
				</ul>
