		<div class="alert alert-success alert-dismissible" role="alert">
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Zamknij"><span aria-hidden="true">&times;</span></button>
		  	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ message }}
		</div>