<div style="position: absolute; bottom: 5px; right: 5px;"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span id="sessionTimer">20:01</span></div>
<script>
	function startTimer(duration, display) {
	    var timer = duration, minutes, seconds;
	    setInterval(function () {
	        minutes = parseInt(timer / 60, 10);
	        seconds = parseInt(timer % 60, 10);
	
	        minutes = minutes < 10 ? "0" + minutes : minutes;
	        seconds = seconds < 10 ? "0" + seconds : seconds;
	
	        display.innerHTML = minutes + ":" + seconds;
	
	        if (--timer < 0) {
	            window.location.href = "{{ rootPath }}/main";
	            timer = duration;
	        }
	    }, 1000);
	}

    var startTime = (60 * 20);
    var display = document.getElementById('sessionTimer');
    startTimer(startTime, display);
	
	/*window.onload = function () {
	    var fiveMinutes = 60 * 20;
	    var display = document.getElementById('sessionTimer');
	    startTimer(fiveMinutes, display);
	};*/
</script>