	
<style>
<!--
select.ui-datepicker-year {
	color: black;
}

#ui-datepicker-div {
	z-index: 10 !important;
}	
/*#edd9f7*/
-->
</style>



<script type="text/javascript">

var oldOnload = window.onload;

window.onload = function() {

    if (typeof oldOnload == 'function') {
        oldOnload();
    }

	console.log('init');


    $('#form-validator').validator();

    //$('#form-validator').validator('validate');
	$.getScript("{{ rootpath }}js/datepicker-pl.js");
	
	$.datepicker.setDefaults($.datepicker.regional["pl"]);
	
    $( "#date-text" ).datepicker({
        changeYear: true,
      	numberOfMonths: 2,
      	showButtonPanel: true, 
      	dateFormat: "yy.mm.dd",
        onSelect: function(dateText, inst) {

            //-------------------------------------------
        	$( "#change-order").submit();
        }
    });

    // akcje do radiobutton
    $( "#typ1" ).change(function(){
        $( "#typterminu" ).val("wizyta");
    	updateRodzaj();
    });
    
    $( "#typ2" ).change(function(){
    	$( "#typterminu" ).val("zabieg");
    	updateRodzaj();
    });

    function updateWolne() {
		

        
    };

    function updateRodzaj() {
  		$.ajax({
    		url: "{{ rootPath }}/api/rodzaj?",
      		dataType: "json",
      		data: {
        		zabieg: function() {
        			if($('#typ2').is(':checked'))
            			return "tak";
        			else
            			return "nie";
                },
      		},
      		//cache: false,
      		type: "GET",
      		success: function( data ) {
				$("#rodzaj").empty();
          		
				var selectRodzaj = document.getElementById("rodzaj");
          		// --------------------------
          		for(var i=0; i<data.length; i++)
          		{
          			var option = document.createElement("option");
          			option.text = data[i].label;
          			option.value = data[i].value;
          			selectRodzaj.add(option);
          		}
          		   /*$("#ddlLanguage").empty().append($("<option></option>").val("[-]").html("Please select"));
				    $.each(msg.d, function() {
				        $("#ddlLanguage").append($("<option></option>").val(this['Value']).html(this['Text']));
				    });
				
				    $('#s2_combo').val('avalue');*/
          		
          		//
            	//response(data);
      		},
		});
    }


	$( "#pacjent-text" ).autocomplete({
		source: function( request, response ) {
			$.ajax({
				url: "{{ rootPath }}/api/pacjent?",
				dataType: "json",
				data: {
					q: request.term,
				},
				//cache: false,
				type: "GET",
				success: function( data ) {
					response(data);
				},
			})
		},
		minLength: 2,
		select: function (event, ui) {
			$('#pacjent-text').val(ui.item.label); 
			$('#pacjent-id').val(ui.item.value); 
			return false; // =         	event.preventDefault();
		},
		change: function( event, ui ) {
			$( "#pacjent-id" ).val(ui.item? ui.item.value : 0);
			return false;
		},      	
	});

    
	
};

</script>

	<h3>Dane terminu</h3>
	
	<div class="row">
		<div class="col-xs-12 text-center">
			<div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default {{ s-wizyta }}">
                    <input type="radio" id="typ1" name="typ" value="wizyta" /> Wizyta </label> 
                <label class="btn btn-default {{ s-zabieg }}">
                    <input type="radio" id="typ2" name="typ" value="zabieg" /> Zabieg </label> 
                <input type="hidden" id="typterminu" name="typterminu" value="{{ typterminu }}"/>    
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
			    <label class="control-label" for="rodzaj">Rodzaj</label>
			    <select class="form-control" id="rodzaj" name="rodzaj">
					{{ rodzaj }}
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
			    <label class="control-label" for="lekarz">Lekarz</label>
			    <select class="form-control" id="lekarz" name="lekarz">
					{{ lekarze }}
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-11">
			<div class="form-group">
		    	<label class="control-label" for="pacjent-text">Pacjent</label>
		    	<input type="text" class="form-control" name="pacjent-text" id="pacjent-text" placeholder="Pacjent" 
		    	value="{{ pacjent-text }}" maxlength="128" required>
		    	<span class="help-block with-errors"></span>

		  	</div>
		</div>
		<div class="col-xs-1">
			<div class="form-group">
				<label class="control-label" for="pacjent-id">ID</label>
				<input id="pacjent-id" name="pacjent-id" type="text" value="{{ pacjent-id }}" class="form-control">
			</div>
		</div>
				    	
	</div>

	<h3>Czas terminu</h3>
	
	<div class="row">
		<div class="col-xs-6">
			<div class="form-group">
		    	<label class="control-label" for="date-text">Data</label>
		    	<input type="text" class="form-control" name="date-text" id="date-text" placeholder="Data" 
		    	value="{{ date-text }}" maxlength="64" required>
		    	<span class="help-block with-errors"></span>
		  	</div>
			<div class="form-group">
		    	<div class="input-group">
		    	<span class="input-group-addon">Godz.</span>
		    	<input type="number" class="form-control" name="czas-h" id="czas-h" placeholder="Godzina" 
		    	value="{{ czas-h }}" maxlength="64" min="0" max="24" required>   	
		    	</div>
		    	<span class="help-block with-errors"></span>
		  	</div>
			<div class="form-group">
		    	<div class="input-group">
		    	<span class="input-group-addon">Min.</span>
		    	<input type="number" class="form-control" name="czas-m" id="czas-m" placeholder="Minuty" 
		    	value="{{ czas-m }}" maxlength="64" min="0" max="59" required>
		    	</div>
		    	<span class="help-block with-errors"></span>
			</div>		  	
		</div>
		<div class="col-xs-6">
			<div class="form-group">
			    <label class="control-label" for="wolne">Wolne terminy</label>
			    <select class="form-control" id="wolne" name="wolne" size="7">
					<option value="1">0:00 - 23:59</option>
				</select>
			</div>
		</div>
	</div>	
	
	<h3>Dodatkowe informacje</h3>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
		    	<label class="control-label" for="telefon">Opis</label>
		    	<textarea class="form-control" name="dodatkowe" id="dodatkowe" placeholder="Dodatkowy opis" rows="3">{{ dodatkowe }}</textarea>
			</div>
		</div>
	</div>